.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-table {
  width: 100%; /* Adjust the width of the table to fit its container */
  white-space: nowrap; /* Prevent line breaks within table cells */
}

.custom-table th,
.custom-table td {
  padding: 8px; /* Adjust padding as needed */
  border: 1px solid #ddd; /* Add borders to table cells */
}

.table-container {
  width: 950%; /* Set a fixed width or maximum width */
  max-width: 1000px; /* Maximum width, adjust as needed */
  margin: 0 auto; /* Center the container horizontally */
  overflow-x: auto; /* Enable horizontal scrolling */
}