@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Syne:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e9f7;
}

.centerdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* or any other value that suits your layout */
}

.box {
  position: relative;
  width: 600px;
  height: 620px;
  background: #ffffff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.box::before {
  content: "";
  position: absolute;
  width: 4000px;
  height: 620px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ebebeb,
    #ebebeb,
    #ebebeb
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #d3d3d3,
    #d3d3d3,
    #d3d3d3
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.borderLine {
  position: absolute;
  top: 0;
  inset: 0;
}

.borderLine::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 470px;
  top: -50%;
  left: -50%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #c0c0c0,
    #c0c0c0,
    #c0c0c0
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box form {
  position: absolute;
  inset: 4px;
  background: #f8f8f8;
  padding: 50px 40px;
  border-radius: 18px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box form h2 {
  color: #23242a;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}

.box form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.box form .inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.box form .inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
  color: #23242a;
  font-size: 0.75em;
  transform: translateY(-34px);
}

.box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #8f8f8f;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.5s;
  pointer-events: none;
}

.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i {
  height: 44px;
}

.box form .links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.box form .links a {
  margin: 15px 12px 20px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}

/* .box form .links a:hover,
.box form .links a:nth-child(2) {
  color: white;
} */

.box form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #23242a;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 7px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
  transition: 0.6s;
}

.box form input[type="submit"]:hover {
  background-color: #31e1f7;
  color: #23242a;
}

.box form input[type="submit"]:active {
  opacity: 0.8;
}

.logo {
  width: 200px;   
  height: auto;   
}

/* Logout button */

/* Logout button */

.logout-button {
  padding: 10px 20px; /* Adjust as needed */
  font-family: 'Roboto', sans-serif;
  font-size: 1em; /* Adjust as needed */
  background-color: #e74c3c; /* Red color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 5px; /* Adjust as needed */
  cursor: pointer;
}

.logout-button:hover {
background-color: #c0392b; /* Darker shade of button's original color */
transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Checkbox Styling ================================ */

/* Responsive Code */

@media (max-width: 470px) {
  .box{
    width: 80vw;
  }
  
  .box form .inputBox {
    width: 65vw;
  }   
  
  .box form .inputBox span {
    font-size: 0.8em;
  }

  .box form .inputBox i {

    height: 0.9px;
  
}
.logout-button {
  font-size: 0.6em;  /* Adjust as needed */
}
}

@media (max-width: 300px) {

  .box form .inputBox span {
    font-size: 0.7em;
  }

  .box form .inputBox i {

    height: 1px;
  
}

}
